<%- include ('../partials/header') %> <%- include ('../partials/navbarlogout') %>
<!--Home page render-->
<main>
  <div class="container">
    <!-- THE REST OF YOUR HTML CODE GOES HERE -->
    <body>

        <h1>Welcome to Card Crusade!!  \(^.^)/</h1>
        <h2>Ready to play? Log in and/or create and account to get started.</h2>
        </body>
  </div>

   <form>
    <p class="float-left">Don't have an account? <a href="/register" style="margin-left: 5px">Register</a></p>
    <button type="submit" class="btn btn-danger float-right">Login</button>
   </form>

   <form>
    <p class="float-left">Already logged in? <a href="/register" style="margin-left: 5px">Log in here!!</a></p>
    <button type="submit" class="btn btn-danger float-right">Login</button>
   </form>
</main>

<%- include ('../partials/footer') %>