<%- include ('../partials/header') %> <%- include ('../partials/menu') %>
<!--Logout page render-->
<main>
  <div class="container">
    <!-- THE REST OF YOUR HTML CODE GOES HERE -->
    <body>

        <h1>LOGOUT SUCCESSFUL!! Thanks for playing  \(^.^)/</h1>
        <h2>To contiue please head back to the home page and log in again.</h2>
        </body>
  </div>
</main>

<%- include ('../partials/footer') %>