<%- include ('../partials/header') %> <%- include ('../partials/navbarlogin') %>
<!--Logout page render-->
<main>
  <div class="container">
    <!-- THE REST OF YOUR HTML CODE GOES HERE -->
    <body>
         <h1>LOGOUT SUCCESSFUL!! Thanks for playing  \(^.^)/</h1>
         <h2>To continue please head back to the home page and log in again.</h2>
         <div class="col-lg" style="margin-left: 50px">
          <img src="http://www.ambassadorgames.com/media/catalog/product/cache/1/image/1200x1200/9df78eab33525d08d6e5fb8d27136e95/s/t/st040.jpg" width="800px"/>
        </div>
        </body>
  </div>

  <!-- <form action="/login" method="get">
    <div class="form-group">
        <label for="username">login</label>
        <input type="text" class="form-control" id="username" aria-describedby="username" name="username">
    </div> -->
</main>

<%- include ('../partials/footer') %>