<!-- include header and menu/navbar -->

<main>
    <div class="container">
        <table class = "table">
       
            <thead>
              <th>Your Rank </th>
              <th>Rank Value </th>   
            </thead>
            <tbody>
                
            </tbody>



    </div>
</main>