<head>
  <script src="https://kit.fontawesome.com/9e68077fbe.js" crossorigin="anonymous"></script>
</head>
<style>
.box{
  
  padding: 5px;
  background-color: #EFD28D;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  position: absolute;
  top: 5px;
  
}
.navbar{
  text-align: center;
  background-color: #e80915;
  height: 50px;
  
}
li a:hover{
  background-color: #EFD28D;
}


</style>
<header>
    <nav class="navbar" >
      <a class="navbar-brand" href="/"></a>
      <ul class="navbar-nav mr-auto">
        <li class="navbar-brand mb-0 h1" style="color: #DCEDFF; text-shadow: 2px 2px 4px #4f2727;" href="/">
          <div class="box">Card Crusade</div>
            
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item" >
            <a  class="btn btn-sm btn-outline-secondary" style="color: #DCEDFF; border-width: 2px; border-color: #DCEDFF; width:150px; position: absolute; top: 9px; right: 510px; " href="/play">Play!</a>
        </li>
        <li class="nav-item">
            <a  class="btn btn-sm btn-outline-secondary" style="color: #DCEDFF; border-width: 2px; border-color: #DCEDFF; width:150px; position: absolute; top: 9px; right: 345px; " href="/profile">User Profile</a>
        </li>
        <li class="nav-item">
            <a  class="btn btn-sm btn-outline-secondary" style="color: #DCEDFF; border-width: 2px; border-color: #DCEDFF; width:150px; position: absolute; top: 9px; right: 180px; " href="/profile">Settings</a>
        </li>
        <li class="nav-item">
          <a  class="btn btn-sm btn-outline-secondary" style="color: #DCEDFF; border-width: 2px; border-color: #DCEDFF; width:150px; position: absolute; top: 9px; right: 15px; " href="/logout">Logout</a>
        </li>
      </ul>
    </nav>
  </header>