<header>
    <!--Logout added to exisiting navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/"></a>
      <ul class="navbar-nav mr-auto">
        <li class="navbar-brand mb-0 h1" href="/">
            Card Crusade
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
         <a class="nav-link" href="/logout">Logout</a>
         <!--Trying to get dynamic button that prompts user with 'are you sure?' option for logout before destorying session-->
        </li>
      </ul>
    </nav>
  </header>